@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 1160px;
}
.container {
  max-width: 2000px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
.wrapper {
  width: 1160px;
  margin: 0 auto;
  text-align: justify;
  font-size: 0;
}
.top-menu {
  background-color: #eceef4;
}
.top-menu__wrapper {
  min-height: 63px;
  height: 1px;
}
.top-menu__wrapper::after {
  display: inline-block;
  width: 100%;
  content: "";
}
.top-menu__block {
  display: inline-block;
  vertical-align: middle;
}
.page-links {
  margin: 0 -2px;
}
.page-links__item {
  display: inline-block;
  height: 32px;
  width: 100px;
  margin: 2px;
  padding: 4px 0 6px 8px;
  border-radius: 5px;
  background-color: #ffffff;
}
.page-links__item .pic {
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 20px;
  background-image: url(http://image.ibb.co/fehYpc/sprite.png);
}
.page-links__item p {
  display: inline-block;
  width: 70px;
  vertical-align: middle;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color: #6d6e71;
}
.page-links__item_blog > .pic {
  background-position: 0 0px;
}
.page-links__item_jobs > .pic {
  background-position: -30px 0px;
}
.page-links__item_support > .pic {
  background-position: -60px 0px;
}
.page-links__item_arabic > .pic {
  background-position: -90px 0px;
}
.page-links__item:hover {
  background-color: #cccccc;
  cursor: pointer;
}
.page-links__item:hover > .pic {
  background-position-y: -25px;
}
.page-links__item:hover p {
  color: #1faae2;
}
.social-links {
  height: 100%;
}
.social-links__item {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 100%;
  border-right: solid 1px #dee0e6;
}
.social-links__item:first-child {
  border-left: solid 1px #dee0e6;
}
.social-links__item_footer {
  border-right: solid 1px #3c3e3f;
}
.social-links__item_footer:first-child {
  border-left: solid 1px #3c3e3f;
}
.social-links__item:hover {
  background-color: #ffffff;
  cursor: pointer;
}
.social-links__item:hover .pic {
  background-position-y: -75px;
}
.social-links__item .pic {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 25px;
  height: 23px;
  margin: auto;
  background-image: url(http://image.ibb.co/fehYpc/sprite.png);
  background-repeat: no-repeat;
}
.social-links__item_facebook > .pic {
  background-position: 0 -50px;
}
.social-links__item_twitter > .pic {
  background-position: -30px -50px;
}
.social-links__item_instagram > .pic {
  background-position: -60px -50px;
}
.social-links__item_google-plus > .pic {
  background-position: -90px -50px;
}
.social-links__block {
  height: 63px;
}
.logo-block {
  min-height: 217px;
  height: 1px;
  padding-bottom: 63px;
  border-bottom: solid 1px #eceef4;
  font-size: 0;
}
.logo-block__wrapper {
  height: 100%;
}
.logo-block__wrapper::before {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  content: "";
}
.logo-block__logotype {
  display: inline-block;
  width: 50%;
  text-align: left;
  vertical-align: bottom;
}
.logo-block__contacts {
  display: inline-block;
  width: 50%;
  padding-right: 13px;
  text-align: right;
  vertical-align: bottom;
}
.logotype {
  display: inline-block;
  width: 403px;
  height: 93px;
  margin-left: -17px;
  vertical-align: middle;
  font-size: 0;
  text-align: left;
  background-image: url(http://image.ibb.co/cX0EvH/logo_background.png);
  background-repeat: no-repeat;
}
.logotype::before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.logotype a {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  font-size: 41px;
  line-height: 0.83;
  text-align: center;
  color: #3687c4;
  text-decoration: none;
}
.contacts__item {
  position: relative;
  display: inline-block;
  height: 24px;
  width: 72px;
}
.contacts__item:not(:first-child) {
  border-left: solid 1px #bcbec3;
}
.contacts__popup {
  position: absolute;
  bottom: 160%;
  width: 227px;
  height: 61px;
  padding-top: 19px;
  background-color: #ffffff;
  background-image: url(http://image.ibb.co/mAvm9c/popup_border.png);
  background-repeat: no-repeat;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  color: #6d6e71;
  display: none;
}
.contacts__popup_phone {
  left: -10px;
  background-position-y: -62px;
}
.contacts__popup_adress {
  left: -81px;
  background-position-y: 0;
}
.contacts__popup_mail {
  left: -151px;
  background-position-y: -124px;
}
.contacts__icon {
  width: 30px;
  height: 35px;
  margin: -5px auto 0;
  background-image: url(http://image.ibb.co/fehYpc/sprite.png);
  background-repeat: no-repeat;
  background-position-y: -100px;
}
.contacts__icon:hover {
  background-position-y: -135px;
  cursor: pointer;
}
.contacts__icon:hover + div {
  display: block;
}
.contacts__icon_phone {
  background-position-x: 0;
}
.contacts__icon_adress {
  background-position-x: -30px;
}
.contacts__icon_mail {
  background-position-x: -60px;
}
.main-menu {
  text-align: justify;
  font-size: 0;
}
.main-menu__wrapper {
  padding-right: 10px;
}
.main-menu__wrapper::after {
  display: inline-block;
  width: 100%;
  content: "";
}
.main-menu__list {
  display: inline-block;
  min-width: 65%;
  text-align: justify;
  vertical-align: middle;
  font-size: 0;
}
.main-menu__list::after {
  display: inline-block;
  width: 100%;
  content: "";
}
.main-menu__list-item {
  display: inline-block;
  height: 100%;
  padding: 0 20px;
  font-size: 13px;
  font-weight: bold;
  line-height: 6.6;
  text-align: center;
  list-style: none;
}
.main-menu__list-item a {
  color: #6d6e71;
  text-decoration: none;
}
.main-menu__list-item a:hover {
  color: #1faae2;
  cursor: pointer;
}
.main-menu__list-item_active {
  background-image: url(http://image.ibb.co/dvEDpc/main_menu_list_item_active.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.main-menu__list-item_active a {
  color: #1faae2;
}
.main-menu__list-item + a {
  border-left: solid 1px #eceef4;
}
.main-menu__search {
  display: inline-block;
  vertical-align: middle;
  color: #6d6e71;
}
.main-menu__search .fa {
  font-size: 25px;
}
.main-menu__search input {
  width: 215px;
  padding: 5px 13px;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  color: #6d6e71;
  border: none;
}
.banner {
  margin-bottom: 27px;
  padding: 256px 0 124px;
  background-image: url(https://image.ibb.co/n2Fas7/banner_background.png);
  background-repeat: no-repeat;
  background-position: center top;
}
.banner__gallery {
  text-align: right;
}
.banner h2 {
  position: relative;
  z-index: 1;
  font-size: 58.5px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  color: #ffffff;
  text-shadow: 0.5px 0.9px 8px rgba(1, 1, 1, 0.15);
}
.banner h3 {
  padding-left: 110px;
  font-size: 44.5px;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
  text-shadow: 0.5px 0.9px 2px rgba(1, 1, 1, 0.15);
}
.banner__header {
  position: relative;
  margin-left: 30.5%;
}
.banner__pic {
  position: absolute;
  bottom: 12%;
  left: 1%;
  z-index: 0;
  width: 88px;
  height: 91px;
  background-image: url(http://image.ibb.co/kyzUUc/banner_pic.png);
  background-repeat: no-repeat;
}
.banner .gallery {
  margin-top: 140px;
  margin-left: 15.5%;
  font-size: 0;
}
.banner .gallery__item {
  display: inline-block;
  width: 322px;
  height: 241px;
  vertical-align: top;
  background-repeat: no-repeat;
}
.banner .gallery__item:nth-child(1) {
  background-image: url(http://image.ibb.co/dU69Uc/banner_gallery_1.jpg);
}
.banner .gallery__item:nth-child(2) {
  background-image: url(http://image.ibb.co/fwJdNx/banner_gallery_2.jpg);
}
.banner .gallery__item_nav {
  width: 111px;
  background-color: #f4f4f4;
  background-image: url(http://image.ibb.co/fooOpc/banner_gallery_arrow.png);
  background-position: center;
}
.banner .gallery__item_nav:hover {
  background-color: #ffffff;
  cursor: pointer;
}
.banner .gallery__item:nth-child(1) .gallery__like {
  background-color: rgba(138, 202, 81, 0.9);
}
.banner .gallery__item:nth-child(2) .gallery__like {
  background-color: rgba(254, 235, 117, 0.9);
}
.banner .gallery__item:nth-child(1) .gallery__text {
  color: #ffffff;
  background-position: -120px -135px;
}
.banner .gallery__item:nth-child(2) .gallery__text {
  color: #cc9800;
  background-position: -120px -100px;
}
.banner .gallery__item:hover .gallery__like {
  opacity: 1;
  cursor: pointer;
}
.banner .gallery__like {
  margin-top: 176px;
  padding-top: 18px;
  padding-left: 126px;
  width: 322px;
  height: 65px;
  opacity: 0;
}
.banner .gallery__text {
  width: 32px;
  height: 29px;
  padding-left: 35px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 29px;
  background-image: url(http://image.ibb.co/fehYpc/sprite.png);
  background-repeat: no-repeat;
}
.block-item:nth-child(2) .block-item__icon_about-us {
  background-position-x: -120px;
}
.block-item__icon {
  float: left;
  background-repeat: no-repeat;
}
.block-item__icon_about-us {
  width: 116px;
  height: 120px;
  background-image: url(http://image.ibb.co/fsfshx/about_us_icons.png);
}
.block-item__wrapper_about-us {
  margin-left: 137px;
}
.block-item__wrapper_what-we-do {
  margin-left: 117px;
}
.block-item__wrapper_header {
  margin-left: 164px;
}
.block-item__wrapper_header_our-projects {
  margin-left: 170px;
}
.block-item__title {
  vertical-align: top;
  font-weight: bold;
  text-align: left;
  color: #6d6e71;
}
.block-item__title_about-us {
  margin-top: 20px;
  font-size: 26px;
  line-height: 0.92;
}
.block-item__title_what-we-do {
  font-size: 24px;
  line-height: 1;
}
.block-item__title_header {
  margin-top: 30px;
  font-size: 44px;
  line-height: 0.55;
}
.block-item__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.55;
  text-align: justify;
  color: #6d6e71;
}
.block-item__text_about-us {
  margin-top: 25px;
}
.block-item__text_what-we-do {
  margin-top: 20px;
}
.block-item__text_header {
  margin-top: 17px;
  font-size: 17px;
  line-height: 1.41;
  text-align: left;
}
.about-us {
  padding-bottom: 110px;
  font-size: 0;
  background-image: url(http://image.ibb.co/hYr9Uc/about_us_bottom.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.about-us__item {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.about-us__item:nth-child(odd) {
  padding-right: 61px;
}
.about-us__item:nth-child(even) {
  padding-left: 57px;
}
.what-we-do {
  padding-top: 69px;
  padding-bottom: 10px;
  font-size: 0;
  text-align: left;
}
.what-we-do__header {
  max-width: 565px;
  margin: 0 auto;
  margin-bottom: 87px;
}
.what-we-do__item {
  display: inline-block;
  width: 49%;
  padding-bottom: 86px;
  vertical-align: top;
}
.what-we-do__item:nth-child(even) {
  padding-right: 63px;
  border-right: solid 1px #eaeced;
}
.what-we-do__item:nth-child(odd) {
  width: 51%;
  padding-left: 89px;
}
.what-we-do__icon {
  float: left;
  width: 100px;
  height: 100px;
  background-image: url(http://image.ibb.co/bwUDpc/what_we_do.png);
  background-repeat: no-repeat;
}
.what-we-do__icon_header {
  margin-top: -30px;
  width: 131px;
  height: 115px;
  background-position: -200px 0;
}
.what-we-do__icon_web-design {
  background-position: 0 0;
}
.what-we-do__icon_mobile-app {
  background-position: -100px 0;
}
.what-we-do__icon_software {
  background-position: 0 -100px;
}
.what-we-do__icon_design {
  background-position: -100px -100px;
}
.what-we-do__icon_branding {
  background-position: 0 -200px;
}
.what-we-do__icon_seo {
  background-position: -100px -200px;
}
.our-projects {
  padding-top: 90px;
  padding-bottom: 72px;
  background-image: url(http://image.ibb.co/nEtjvH/our_projects_background.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
}
.our-projects__header {
  max-width: 501px;
  margin: 0 auto;
}
.our-projects__header_icon {
  float: left;
  margin-top: -60px;
  width: 138px;
  height: 151px;
  background-image: url(http://image.ibb.co/fgxoNx/our_projects_header.png);
}
.our-projects__back {
  position: absolute;
  bottom: 9px;
  right: -149px;
  width: 98px;
  height: 98px;
  background-color: #ffffff;
  border: solid 2px #ffffff;
  border-radius: 50%;
  background-image: url(http://image.ibb.co/dSsNhx/our_projects_back_arrow.png);
  background-repeat: no-repeat;
  background-position: center;
}
.our-projects__back:hover {
  cursor: pointer;
  border-color: #6d6e71;
}
.our-projects__groups {
  margin: 82px auto 50px;
  font-size: 0;
  text-align: center;
}
.our-projects__group {
  display: inline-block;
  min-width: 120px;
  padding: 10px 24px;
  vertical-align: top;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #bbbbbb;
  border-radius: 5px;
  background-color: #efefef;
  border: solid 2px #cecece;
}
.our-projects__group:not(:first-child) {
  margin-left: 18px;
}
.our-projects__group:hover {
  color: #6d6e71;
  background-color: #ffffff;
  border-color: #ffffff;
  cursor: pointer;
}
.our-projects__items {
  position: relative;
  margin: 0 -8px;
  font-size: 0;
  text-align: left;
}
.projects__item {
  display: inline-block;
  width: 278px;
  height: 284px;
  margin: 0 8px 18px;
  padding: 16px 13px 0;
  font-size: 0;
  vertical-align: top;
  border-radius: 5px;
  background-color: #ffffff;
}
.projects__item:nth-child(2) .projects__pic {
  background-position: -260px 0;
}
.projects__item:nth-child(3) .projects__pic {
  background-position: -520px 0;
}
.projects__item:nth-child(4) .projects__pic {
  background-position: -780px 0;
}
.projects__item:nth-child(5) .projects__pic {
  background-position: 0 -210px;
}
.projects__item:nth-child(6) .projects__pic {
  background-position: -260px -210px;
}
.projects__item:nth-child(7) .projects__pic {
  background-position: -520px -210px;
}
.projects__item:nth-child(8) .projects__pic {
  background-position: -780px 0;
}
.projects__pic {
  width: 252px;
  height: 210px;
  border-radius: 5px;
  background-color: #f5f5f5;
  background-image: url(http://image.ibb.co/httTNx/our_projects_sprite.jpg);
  background-repeat: no-repeat;
}
.projects__links {
  display: inline-block;
  width: 50%;
  height: 56px;
}
.projects__links_link {
  width: 25px;
  height: 25px;
  margin: 17px auto;
  background-image: url(http://image.ibb.co/fehYpc/sprite.png);
  background-position: -155px 0;
}
.projects__links_plus {
  width: 25px;
  height: 25px;
  margin: 17px auto;
  background-image: url(http://image.ibb.co/fehYpc/sprite.png);
  background-position: -120px 0;
}
.projects__links:last-child {
  border-left: solid 1px #efefef;
}
.projects__links:hover {
  cursor: pointer;
}
.projects__links:hover div {
  background-position-y: -25px;
}
.footer {
  padding-top: 78px;
  padding-bottom: 33px;
  font-size: 0;
  text-align: justify;
  background-color: #2b2c2d;
}
.footer::after {
  display: inline-block;
  width: 100%;
  content: "";
}
.footer__social-links {
  display: inline-block;
}
.footer__social-links .pic {
  background-position-y: -75px;
  opacity: 0.4;
}
.footer__join-us {
  display: inline-block;
  margin-top: 7px;
  vertical-align: top;
}
.footer__copyright {
  display: inline-block;
  width: 50%;
  margin-top: 57px;
  vertical-align: top;
  font-size: 13px;
  font-weight: 300;
  line-height: 2.08;
  text-align: left;
  color: #6d6e71;
}
.footer__menu {
  display: inline-block;
  width: 50%;
  vertical-align: bottom;
  text-align: right;
}
.footer__menu li {
  position: relative;
  display: inline-block;
  margin-left: 21px;
  font-size: 13px;
  font-weight: 300;
  line-height: 2.08;
}
.footer__menu li:not(:first-child)::before {
  position: absolute;
  bottom: 35%;
  left: -15px;
  font-size: 2em;
  color: #6d6e71;
  line-height: 10px;
  content: "\2022";
}
.footer__menu li a {
  color: #6d6e71;
  text-decoration: none;
}
.footer__menu li a:hover {
  color: #efefef;
}
.join-us {
  background-color: #393b3c;
  border-radius: 10px;
}
.join-us__input {
  width: 508px;
  height: 66px;
  padding-left: 85px;
  padding-right: 35px;
  font-size: 14px;
  font-weight: bold;
  color: #6d6e71;
  border-radius: 10px;
  border: none;
  background-color: #393b3c;
  background-image: url(http://image.ibb.co/nQN52x/join_us_input.png);
  background-repeat: no-repeat;
  background-position: 21px center;
}
.join-us__button {
  margin-right: 9px;
  padding: 13px 23px;
  font-size: 14px;
  font-weight: bold;
  color: #6d6e71;
  border-radius: 10px;
  background-color: #494c4d;
  border: none;
}
.join-us__button:hover {
  color: #efefef;
  cursor: pointer;
}
